.board {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    row-gap: 0;
    column-gap: 0;
    max-width: 700px;
    cursor: pointer;
    aspect-ratio: 1 / 1;
    border: 10px solid #ffb000;
    background-color: #f8f8f8;
}

.field {
    border: 1px solid #979797;
    display: flex;
    align-items: center;
    justify-content: center;
    caret-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.field-miss {
    background-image: url(assets/miss.png);
}

.field-hit {
    background-image: url(assets/hit.png);
}

@media (max-width: 1023px) {
    .board {
        max-width: none;
    }
}