.board {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    row-gap: 0;
    column-gap: 0;
    width: 500px;
    border-top: 1px solid #f0f0f0;
    border-left: 1px solid #f0f0f0;
    cursor: pointer;
    aspect-ratio: 1 / 1;
}

.field {
    border-bottom: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    caret-color: transparent;
}

@media (max-width: 500px) {
    .board {
        width: 100%;
    }
}